<div class="site-title"><a href="/">{{ site.title }}</a></div>
<p class="site-desc">{{ site.description }}</p>

<nav class="nav">
  {% assign pages_list = site.pages | sort: "nav_order" %}
  {% for node in pages_list %}
    {% if node.title and node.layout == "page" %}
      <a href="{{ node.url }}">{{ node.title }}</a>
    {% endif %}
  {% endfor %}
  <hr>
  <a href="https://instagram.com/cherainboow">CherainboowARTs</a>
  <a href="https://instagram.com/cherainboow">CherainboowSCIENCEs</a>
</nav>

<p class="site-desc">Currently v{{ site.version }} · © {{ site.time | date: '%Y' }}</p>